.mdl-layout__header-row {
    padding: 0 40px 0 25px;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header-row {
        padding: 0 16px 0 25px;
    }
}

@media screen and (max-width: 839px) {
    .mdl-card {
        width: 100%
    }
}

.mdl-card {
    height: 320px;
    opacity: 0;
    animation: fadeUp .5s ease-out forwards;
}

.mdl-card .mdl-card__title {
    color: #fff;
    transition: 1s;
}

.pagination {
    width: 100%;
    padding: 50px 0;
}

.pagination--justify-left {
    justify-content: left;
}

.pagination--justify-right {
    justify-content: flex-end;
}

.logo-link {
    color: #fff;
    text-decoration: none;
}

.mdl-navigation__link--is-active {
    background: #424242;
}

.loader {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;

    background: rgba(255, 255, 255, .8);
    animation: fadeIn .2s ease-out;
}

.single-user__posts .mdl-grid {
    width: 100%;
}

.comment-card {
    height: 200px;
}

.comment-card__name {
    padding: 0 20px;
    background: black;
    color: #fff;
    height: 35px;
}

.comment-card__name > h4 {
    margin: 0;
    padding: 0;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
